* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', '맑은 고딕', sans-serif;
  background: #000;
  min-height: 100vh;
  color: #fff;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media (max-width: 1050px) {
  #root {
    padding: 0;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');